 
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: #fff;

  color: black;
  border-color: #ababab;
  border-radius: 2px;
  border-style: solid;
    border-width: 1px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #ababab;
  text-color: red;
  content: "\25BC";
  position: absolute;
  text-align: center;
}


.radial-tree-node{
    -webkit-transition: transform 5s ease-in;
    -moz-transition: transform 5s ease-in;
    -o-transition: transform 5s ease-in;
     transition: transform 5s ease-in;

}

.voronoiCell{    
    opacity:0.07;
    /*stroke:#f4f4f4;*/
    stroke:#fff;
    stroke-width:3;
    pointer-events:all;

}

.voronoiCell:hover{
    opacity:0.18;
}
