/*
@font-face {
    font-family: 'NotoEmojiColor';
    src: url('modules/views/html/NotoEmojiColor.ttf')  format('truetype'),
}
*/

#body{
    background-color:#f1f1f1; //#fafafa;
    font-family:calibri, arial;
    font-size:10pt;
    padding: 0;
    margin: 0;
}

/*-status------------------------------------------------------------------------------------*/

.jobAndSubjobs .jobState{
    display: inline-block;
    width: 100%;
    padding: 1 0 1 0;
    cursor: hand;
    height: 11;
}

.jobAndSubjobs .jobState:hover{
    background-color: #fcfcfc;
}

.jobAndSubjobs .jobState .progress{
    float: left;
    width: 130px;
    height: 12px;
    background-color:#EEEEEE;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) inset;
    position:relative;
    margin-left: 10;
}

.jobAndSubjobs .jobState .lastWorker{
    padding: 0 0 0 10;
    margin: -2 0 0 0;
    height: 14;
    float: left;
}

.jobAndSubjobs .jobState .lastLog{
    padding: 0 0 0 5;
    margin: -2 0 0 0;
    overflow: hidden;
    height: 14;
    float: left;
    max-width: 250;

}

.jobAndSubjobs .jobState .state{
    float: right;
    clear: right;
    margin: -1 10 2 0;
    height: 9;
    font-size: 12;
    -webkit-user-select: none;
}

.searchStatusProgress{
    float: left;
}


.search-progress-block{
    height: 3px;
    position:absolute;
}

.jobLog{
    max-height: 200;
    margin: 1 10 2 10;
    display: none;
    border-style:solid;
    border-color:#e0e0e0;
    border-width:1;
    list-style-type: none;
    padding: 0;
    overflow: auto;
    clear: both;
}

.jobLog li{
    border-style:solid;
    border-color:#f0f0f0;
    border-width:0 0 1 0;
    clear: both;
}

.jobLog li .head{
    border-style:solid;
    border-color:#e0e0e0;
    border-width:0 1 0 4;
    padding:0 4 0 4;
    min-width: 35;
    float: left;
}

.jobLog li .logText{
    margin:-1 5 -1 5;
    padding:0;
    min-width: 27;
    float: none;
    display: inline-block;
    text-align: right;
}

.subJobs{
    margin: 0 0 0 10;
    clear: both;
}



/*-------------------------------------------------------------------------------------------*/

progress[value]{
    width: 130px;
    height: 15px;
    background-color:green;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) inset;
    maring:20 0 0 0;
}

progress[value]::-webkit-progress-value {
    background-color:#00CC66;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) inset;
    cursor: hand;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background:#00CC66; /* #D8C289; /*#DABA68;#daa520;*/
    margin-top: -4px;
    box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2) inset;
}

input[type=range]:disabled::-webkit-slider-thumb {
    background:lightgray;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

/*-components--------------------------------------------------------------------------------*/

#lslider-prefix{
    margin:4 0 0 10;
    float:left;
}

#lslider-postfix{
    margin:4 0 0 2;
    float:left;
}

#lslider-value{
    margin:4 0 0 1;
    float:left;
    width:20;
    text-align: right;
}

#lslider-slider{
    float:left;
    margin: 9 0 0 10;
    width: 80;
}

::-webkit-scrollbar:horizontal{
    display: none;
}

::-webkit-scrollbar {
    width: 16px;
    /*background-color: #FCFCFC;*/
    background-color: white;
}

::-webkit-scrollbar:hover {
    /*background-color: #FCFCFC;*/
}

::-webkit-scrollbar-thumb:vertical {
    background: rgba(0,0,0,0.07);
    background-color: #CCC;
    border-left-style: solid;
    border-left-color: white;
    border-left-width: 14px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    transition: border-left-width 2s ease-in-out;
    transition: border-color 2s ease;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background: rgba(0,204,102,0.2);
    border-left-width: 0px;    
}

::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(200,200,200,0.2);
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

