.paperstack-top{
    background-color:#ffffff;
    border-style:solid;
    border-color:#C4E8D6; // #d5d5d5; //#e0e0e0;
    border-width:1px;
    border-radius:4px;
    width: calc(50% - 2.5em);
    height: calc(100% - 50px);
    margin:  1.5em 1em 1em 1em ;
    float: left;
    box-shadow: 0.5px 0.5px 3px #dadada;
}

.paperstack-top > .header{
    background-color: #00CC66;
    color: #ffffff;
    border-radius: 3px 3px 0 0;
    text-align: center;
    padding: 0 11 0 11;
    height: 25;
    overflow: hidden;
}

.paperstack-top > .header > .flap{
    float: left;
    margin: 3 1 -2 1;
    padding: 3 20 1 20;
    cursor: hand;
    border-style:solid;
    border-color: transparent;
    border-width:0 0 0 0;
    border-radius: 2pt;
}
.paperstack-top > .header > .flap:hover{
    background-color: #10E079;
}

.paperstack-top > .header > .flap-active{
    transform: perspective(10px) rotateX(3deg);
    float: left;
    margin: 1 1 -2 1;
    padding: 5 20 0 20;
    cursor: hand;
    font-weight: normal;
    background-color: #FDFDFD;
    border-radius: 2pt;
    color: #00CC66;
    height: 23;
    position: relative;
}

.paperstack-top > .ps-content{
    border-width:0;
    width:100%;
    height:calc(100% - 25px);
}

.paperstack-top > .ps-content > .cm{
    border:none;
    display:none;
    height:100%;
}
.paperstack-top > .ps-content > .cm-active{
    border:none;
    display:flex;
    flex-direction:column;
    height:100%;
}

/*-------------------------------------------------------------------------------------------*/

.paperstack-bottom{
    display:flex;
    flex-direction:column;
    flex-grow:1;
    margin-bottom:-1;
    clear:both;
}

.paperstack-bottom > .header{
    border-style: solid none none;
    border-width: 1;
    border-color: #F0F0F0;
    border-radius: 0 0 3px 3px;
    text-align: center;
    padding: 0 11 0 2;
    height: 25;
    background-color:#FDFDFD;
    color:gray;
    clear:both;
    overflow: visible;
}

.paperstack-bottom > .header > .flap{
    float: right;
    padding: 1 10 5 10;
    margin: 2 3 1 3;
    cursor: hand;
    border-style: solid;
    border-color: transparent;
    border-width: 0 0 3 0;
    color: #CCCCCC;
    border-radius: 3px;
    height: 8;
}
.paperstack-bottom > .header > .flap:hover{
    background-color: #fff;
}

.paperstack-bottom > .header > .flap-active{
    float: right;
    margin: -1 0 3 0;
    padding: 4 20 0 20;
    cursor: hand;
    font-weight: normal;
    background-color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #000000;
    border-style: none solid solid solid;
    border-width: 1;
    border-color: #FAFAFA #F5F5F5 #F5F5F5 #FAFAFA;
    height: 18px;
}

.paperstack-bottom > .ps-content{
    flex-grow:1;
    flex-basis:100%;
    overflow-y:overlay;
    position:relative;    
}

.objectSplitterV > .a3expander:last-child .paperstack-bottom > .ps-content{
    flex-basis:61.8%;
}

.paperstack-bottom > .ps-content > .cm{
    border:none;
    display:none;
    //height:100%;
}
.paperstack-bottom > .ps-content > .cm-active{
    border:none;
    display:block; //flex
    //flexDirection:column;
    //height:100%;
}

/*-------------------------------------------------------------------------------------------*/

.a3expander{
    clear: both;
    border-style: dashed none none none;
    border-color: #b0b0b0;
    border-width: 1;

    display: flex;
    flex-direction: column;
    /*content.style.flexGrow = 1*/
}

.a3expander:first-child{
    clear: both;
    border-style: none;
    border-width: 0;
}

.a3expander:last-child{
    flex-grow: 1;
}

/*
.autoMultiView{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}*/
