<html>
    <head>
        <meta charset="UTF-8">

        <link  href="../../../modules/jobs/workerModel3d.css" rel="stylesheet">
        <script src="https://d3js.org/d3.v4.js"></script>
        <!--<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>-->

        <script src="../../../modules/views/html/htmlBasics.js"></script>

        <link  href="../../../modules/views/html/lib/vis/dist/vis.css" rel="stylesheet">
        <script src="../../../modules/views/html/lib/HackTimer.js"></script>
        <script src="../../../modules/views/html/lib/jquery-1.11.3.js"></script>
        <script src="../../../modules/views/html/lib/jquery.color-2.1.0.js"></script>
        <script src="../../../modules/views/html/lib/ace/ace.js"></script>
        <script src="../../../modules/views/html/lib/vis/dist/vis.js"></script>

        <script src="../../../modules/views/html/primitive/decorators.js"></script>
        <script src="../../../modules/views/html/primitive/primitives.js"></script>
        <script src="../../../modules/views/html/primitive/job-buttonView.js"></script>
        <script src="../../../modules/views/html/primitive/selectable-comboBoxView.js"></script>
        <script src="../../../modules/views/html/primitive/number-labeledSlider.js"></script>
        <script src="../../../modules/views/html/primitive/object-autoJobButtonView.js"></script>

        <script src="../../../modules/views/html/line/object-autoView.js"></script>
        <script src="../../../modules/views/html/line/job-lineView.js"></script>
        <script src="../../../modules/views/html/line/file-lineView.js"></script>

        <link  href="../../../modules/views/html/a5/d3.css" rel="stylesheet">
        <script src="../../../modules/views/html/a5/decorators.js"></script>
        <script src="../../../modules/views/html/a5/graphView.js"></script>
        <script src="../../../modules/views/html/a5/job-d3gantView.js"></script>
        <script src="../../../modules/views/html/a5/job-progressLineView.js"></script>
        <script src="../../../modules/views/html/a5/job-progressTreeView.js"></script>
        <script src="../../../modules/views/html/a5/job-runView.js"></script>
        <script src="../../../modules/views/html/a5/job-visGantView.js"></script>
        <script src="../../../modules/views/html/a5/job-visGraphView.js"></script>
        <script src="../../../modules/views/html/a5/network-listView.js"></script>
        <script src="../../../modules/views/html/a5/node-panelView.js"></script>
        <script src="../../../modules/views/html/a5/object-a5lazyExpanderView.js"></script>
        <script src="../../../modules/views/html/a5/object-autoView.js"></script>
        <script src="../../../modules/views/html/a5/object-visGraphView.js"></script>

        <script src="../../../modules/views/html/a5/project-editView.js"></script>

        <script src="../../config.js"></script>
        <script src="../../sim.js"></script>
        <script src="../../messages.js"></script>
        <script src="../../tools.js"></script>
        <script src="../../q.js"></script>

        <script src="../../network/browserWs.js"></script>

        <script src="../../job/job.js"></script>
        <script src="../../job/jobLogic.js"></script>
        <script src="../../job/toolJobs.js"></script>

        <script src="../../types/mvj.js"></script>
        <script src="../../types/network.js"></script>
        <script src="../../types/project.js"></script>
        <script src="../../types/pSet.js"></script>

        <script src="../view.js"></script>

        <link  href="view.css" rel="stylesheet">
        <script src="client.js"></script>

    </head>
    <body id="body" onload="appInit()">
        <div id="workspace">
            <div id="modelTabPaper" class="paper" style="float:left;"></div>            
            <div id="jobTabPaper" class="paper" style="float:left;"></div>            
        </div>
        <div id="footer">
            <div id="thisId"></div>
            <a href="../../../doc/bsc/Abschlussarbeit.pdf">
                <div id="connectionState"></div>
                <div id="connectionDate"></div>
            </a>
        </div>
    </body>
</html>
